{{!-- Sheet Header --}}
<header class="cd-sheet-header">
  <input 
    class="charname" 
    name="name" 
    type="text" 
    value="{{actor.name}}" 
    placeholder='{{localize "CTHULHUDARK.ActorName"}}' />
  <img
    class='profile-img'
    src='{{actor.img}}'
    alt="{{actor.name}}"
    title="{{actor.name}}"
    data-edit='img'
    data-action='onEditImage'
    data-tooltip='{{actor.name}}'
  />
  <input 
    type="text" 
    class="header-fields" 
    name="system.occupation" 
    value="{{system.occupation}}"
    data-dtype='String'
    placeholder='{{localize "CTHULHUDARK.OccupationName"}}' />

  <div class="insight">
    <b>
      <a 
        title='{{localize "CTHULHUDARK.InsightRollHoverText"}}'
        data-action="roll"
        data-roll-type="clearInsight" 
        class="{{system.insight.color}}">
          {{localize "CTHULHUDARK.Insight"}}
      </a>
    </b>
    {{#times system.insight.max}}
      <input
        type="checkbox"
        class="insight-check"
        data-action="onInsightUpdate"
        data-property="system.insight.value"
        data-value="{{@index}}"
        {{checked (gt ../system.insight.value @index)}}
      />
    {{/times}}
  </div>

  <div class="grid grid-2col">
    <button 
      type="button" 
      data-action="roll"
      data-roll-type="investigate">
        <i class="fa-solid fa-dice"></i> {{localize "CTHULHUDARK.InvestigateBtn"}}
    </button>
    <button 
      type="button" 
      data-action="roll"
      data-roll-type="doSomethingElse">
      <i class="fa-solid fa-dice"></i> {{localize "CTHULHUDARK.OtherActionsBtn"}}
    </button>
    <button 
      type="button" 
      data-action="roll"
      data-roll-type="insight">
      <i class="fa-solid fa-dice insight-lt-color"></i> 
      <b class="insight-lt-color">{{localize "CTHULHUDARK.InsightRollBtn"}}</b>
    </button>
    <button 
      type="button" 
      data-action="roll"
      data-roll-type="failure">
      <i class="fa-solid fa-dice"></i> {{localize "CTHULHUDARK.FailureRollBtn"}}
    </button>
  </div>
</header>