<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="cd-sheet-header">
    <input class="charname" name="name" type="text" value="{{actor.name}}" placeholder="{{localize "CTHULHUDARK.ActorName"}}"/>
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <textarea class="sub-header-fields" name="system.looks" type="text" value="{{system.looks}}" placeholder="{{localize "CTHULHUDARK.LooksNpcInput"}}">{{system.looks}}</textarea>
    <textarea class="sub-header-fields" name="system.behaviors" type="text" value="{{system.behaviors}}" placeholder="{{localize "CTHULHUDARK.BehaviorsNpcInput"}}">{{system.behaviors}}</textarea>
    <textarea class="sub-header-fields" name="system.motivations" type="text" value="{{system.motivations}}" placeholder="{{localize "CTHULHUDARK.MotivationsNpcInput"}}">{{system.motivations}}</textarea>
  </header>
  
  <section class="sheet-body">
    <h2>{{localize "CTHULHUDARK.NotesTab"}}</h2>
    <div class="tab notes">
      {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </section>

</form>