{{! Rules Tab }}
<section 
    class="rules tab {{tab.cssClass}}" 
    data-group="primary" 
    data-tab="rules"
>
    <p><b>{{localize "CTHULHUDARK.FailureRuleTitle"}} </b>{{localize "CTHULHUDARK.FailureRuleText"}}</p>
    <p><b>{{localize "CTHULHUDARK.TryingAgainRuleTitle"}} </b>{{localize "CTHULHUDARK.TryingAgainRuleText"}}</p>
    <p><b>{{localize "CTHULHUDARK.CooperateRuleTitle"}} </b>{{localize "CTHULHUDARK.CooperateRuleText"}}</p>
    <p><b>{{localize "CTHULHUDARK.CompeteRuleTitle"}} </b>{{localize "CTHULHUDARK.CompeteRuleText"}}</p>
</section>